body {
  font-family: Arial, sans-serif;
  padding: 10px;
  background-color: #f9f9f9;
  color: #333;
  min-width: 200px;
}

select, button {
  margin: 5px 0;
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

#scrapeButton, #downloadButton {
  width: calc(100% - 22px);
}

.error {
  color: red;
}

.success {
  color: green;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

.modal-content h2 {
  text-align: center;
}

input[type="radio"] {
  margin-right: 5px;
}

input[type="number"], input[type="date"] {
  width: 100%;
}

button#startScrapingButton {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

button#startScrapingButton:hover {
  background-color: #45a049;
}
